<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'info.css' %}" />
        <title>Dowon Kim</title>
    </head>
    <body>
        <div class="name">Dowon Kim</div>
        <div class="tags">
            <h1 class="life">Life</h1>
            <h1 class="prj"><a href="/project/">Project</a></h1>
            <h1 class="me">About ME</h1>
            <h1 class="ins">Instagram</h1>
        </div>
    </body>
</html>
