{% extends "base.html" %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'category_board.css' %}"/>
{% endblock css %}
    <title>{{ category }} 게시판</title>
</head>
  <body>
        {% block content%}
        <h2 class="category1">{{ category }} 게시판</h2>
        <ul>
            {% for post in posts %}
            <li class="category2"><a href="{% url 'detail' post.pk %}">{{ post.title }}</a></li>
            {% empty %}
            <li>해당 카테고리에 게시글이 없습니다.</li>
            {% endfor %}
        </ul>
    {% endblock content %}
    </body>
</html>
