body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100vw; /* 화면 너비 전체를 사용 */
}

.content {
    flex: 2; /* 2/3 화면 비율을 할당 */
    background-color: #888; /* 기본 배경색 회색 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.navigation {
    display: flex;
    background-color: black;
    height: 10vh; /* 높이 비율을 10%로 설정 */
}

.nav-button {
    flex: 1;
    padding: 15px;
    border: none;
    background-color: #666;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.nav-button:hover:not(.active) {
    background-color: #555;
}

.nav-button.active {
    background-color: #888; /* active 상태일 경우 배경색 회색 */
}
