<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'category_board.css' %}" />
        <title>{{ category }} 게시판</title>
    </head>
    <body>
        <h2 class="category1">{{ category }} 게시판</h2>
        <ul>
            {% for article in articles %}
            <li class="category2"><a href="{% url 'detail' article.id %}">{{ article.title }}</a></li>
            {% empty %}
            <li>해당 카테고리에 게시글이 없습니다.</li>
            {% endfor %}
        </ul>
    </body>
</html>
